.CondicionalContainer h1{
    font-size: smaller;
}
.CondicionalContainer input[type=email]{
    background-color: var(--backgroundContainer);
    border-color: var(--roxo);
}

.CondicionalContainer button{
    background-color: var(--backgroundContainer);
    border-color: var(--roxo);
}