.FormContainer{
    color: white;
    display: inline-block;

}
.FormContainer input[type=submit]{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: medium;
    width: 60%;
    padding: 10px;
    background-color: var(--roxo);
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.FormContainer input[type=submit]:hover{
    background-color: var(--roxoHover);
    cursor: pointer;
}

.FormContainer input[type=text], input[type=password]{
    margin: 3%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #abd5f188;
    border-radius: 5px;
    border: 0;
    
}
.FormContainer label{
    display: block;
    padding-left: 5%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
